<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainTitle</key>
	<string>设置</string>
	<key>sectionArr</key>
	<array>
		<dict>
			<key>sectionTitle</key>
			<string>播放相关</string>
			<key>rowArr</key>
			<array>
				<dict>
					<key>New item</key>
					<array/>
					<key>rowType</key>
					<integer>1</integer>
					<key>rowTitle</key>
					<string>允许在移动网络下播放</string>
				</dict>
				<dict>
					<key>detailTextArr</key>
					<array>
						<string>请选择解码方式</string>
						<string>硬件解码</string>
						<string>软件解码</string>
					</array>
					<key>rowType</key>
					<integer>2</integer>
					<key>rowTitle</key>
					<string>解码方式</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>离线相关</string>
			<key>rowArr</key>
			<array>
				<dict>
					<key>detailTextArr</key>
					<array>
						<string>选择屏幕清晰度</string>
						<string>原画优先</string>
						<string>超清优先</string>
						<string>高清优先</string>
						<string>标清优先</string>
					</array>
					<key>rowType</key>
					<integer>2</integer>
					<key>rowTitle</key>
					<string>默认离线清晰度</string>
				</dict>
				<dict>
					<key>rowType</key>
					<integer>1</integer>
					<key>rowTitle</key>
					<string>允许在移动网络下缓存</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>其他设置</string>
			<key>rowArr</key>
			<array>
				<dict>
					<key>rowType</key>
					<integer>1</integer>
					<key>rowTitle</key>
					<string>允许在移动网络下加载文章图片</string>
				</dict>
				<dict>
					<key>detailTextArr</key>
					<array>
						<string>选择文章字号</string>
						<string>非常小</string>
						<string>标准</string>
						<string>有点大</string>
						<string>特别大</string>
					</array>
					<key>rowType</key>
					<integer>2</integer>
					<key>rowTitle</key>
					<string>文章正文字号</string>
				</dict>
				<dict>
					<key>rowType</key>
					<integer>3</integer>
					<key>rowTitle</key>
					<string>清理缓存</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>帮助支持</string>
			<key>rowArr</key>
			<array>
				<dict>
					<key>rowType</key>
					<integer>4</integer>
					<key>rowTitle</key>
					<string>关于我们</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
